<!-- <app-fruit-create></app-fruit-create>
<hr>
<app-fruit-display></app-fruit-display> -->

<main>
  <div >
    <h1>FINAL POE</h1>
    <!-- <h1 style="background-color:#f6e5f3;">THE FRUIT LIST</h1> -->

    <nav>
      <a routerLink="/register">REGISTER</a>&nbsp;
      <a routerLink="/login">LOGIN</a>&nbsp;
      <a routerLink="/add">ADD FRUIT</a>&nbsp;
      <a routerLink="/createpost">ADD POST</a>&nbsp;
      <a routerLink="/">FRUITS LIST</a> &nbsp;
      <a routerLink="view">POSTS LIST</a> &nbsp;
    </nav>

    <br>

    <router-outlet></router-outlet>
 
</div>
</main>
