<!-- <p>post-display works!</p> -->
<!-- 
<div *ngFor="let post of posts">
    {{post.id}}
    {{post.name}}
    <button (click)="ondelete(post._id)">Delete</button>
    </div> -->

    <h1>LIST OF POSTS</h1>

<div *ngFor="let post of posts">
    <table>
      <tr>
        <th>LIST OF POSTS</th>
      </tr>
      <th>
        <!-- <p></p> -->
        <!-- <img src="https://simg.nicepng.com/png/small/133-1338446_fruit-basket-fruits-and-vegetables-pictures-food-clipart.png" > -->
        <!-- <br> -->
        <!-- <img src="https://lh3.googleusercontent.com/XIKqwyiOMQvPkRSzt91m2glxEmoPhwCU_jI3wHG1i_8D-NeUDL6k-KWd825XEgoOGzs"> -->
   <img src ="https://iconarchive.com/download/i76046/martz90/circle-addon2/notepad.ico">
        <br>
        <!-- <img src="https://t3.ftcdn.net/jpg/00/82/14/46/360_F_82144678_0h4z2B1xEyesYnZ0iboknZAwMjQ5PXzF.jpg" > -->
    {{post.id}}
    {{post.name}}
  
  <br>
  <!-- <p></p> -->
   <button (click)="ondelete(post._id)">Delete</button>
  
  </th> 
  </table>
    <p></p>
  
  </div>
  